 body {
    font-family: "Shadows Into Light", cursive;
    background-color: beige;
    margin: 0;

}

/* header*/  
header h1
{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    padding: 0rem;
}
header p 
{
    text-align: center;
}

/* naigation bar*/
nav 
{
    background-color: rgb(245, 233, 176);
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;

}
nav a {
    display: block;
padding : 0.8rem 0.8rem;
text-decoration: none;
font-size: 1.1rem;
color:black;
font-weight: 500;
}

nav li.active a{ 
    background-color: rgb(172, 172, 147);
    color: rgb(245, 233, 176)
}

nav li a:hover {
   
    color:beige;
    
}

/* main content*/

main {
    padding: 1rem 10px;

}

main h2 
{
    color:rgb(120, 95, 95);
    margin-bottom: .2rem;
}
main p {
margin: 0;
color : #333;

}

main ol {
    padding: .5rem 30px;
}

main dl dt {
    color:rgb(120, 95, 95);
    font-weight: bold;
    margin-top: 1rem;
}

main dl dd {
  color:rgb(0, 0, 0);
   font-size: .9rem;
    margin-left: 20px;
}
 main ul {
    list-style-type: circle;
    margin-bottom: .5rem;
    font-size: .9rem;
 }

 main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;

 }
 main strong {
    font-weight: 300;
    color: #000
 }
 main em { 
    font-weight: 300;
    color: rgb(120, 95, 95);
 }


  main address {
font-style: normal;
background-color: rgb( 120, 95, 95);
 border-radius: 10px;
 border: 1px solid #000;
 width: 200px;
 text-align: center;
}
main a {

    color: rgb(199, 169, 169);
}

main a:hover {
    color:white;
}
.wrapped { 
    margin: .5rem 0;
    float: right;
}
.wrapped figcaption{ 
    text-align: right;
    font-size: .9rem;

  
}

/* footer*/ 
footer{ 
    background-color: rgb(172, 172, 147);
    text-align: center; 
    padding: 1rem 0;
    font-size: .8rem;
    color:#333
} 
footer p {
    margin: 0;
      font-size: .8rem;
      color:#333;
    letter-spacing: 3px;
}
/* PROJECT */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 2rem;
}

.gallery figure {
    width: 300px;
    text-align: center;
    background-color: rgb(245, 233, 176);
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #333;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: .5rem;
    transition: 0.3s ease-in-out;
    border: 1px solid #333;
}

.gallery img:hover {
    transform: scale(1.03);
}

.gallery figcaption {
    font-size: 1rem;
    color: rgb(120, 95, 95);
    margin-top: .5rem
